.item-card {
  background-color: #fff;
  border-radius: 16px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

  storybook-header-momentos {
    margin-bottom: 8px;
  }

  .button-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
  }
}
